* {
  margin: 0;
}

html, body {
	height: 100%;
}
body {
	font-family: "Anonymous Pro", sans-serif;
	color: white;
	text-align: center;
}

#content_wrapper {
	min-height: 100%;
	margin-bottom: -1.5em;
	overflow: hidden;
} 

#footer_wrapper {
       width: 100%;
       height: 1.5em;
 }

#content_wrapper:after {
  content: "";
  display: block;
}
#footer_wrapper, #content_wrapper:after {
  height: 1.5em; 
}

p {
	display: inline-block;
	margin: 0 0 5px;
}

span {
	font-weight: 700;
}

#questionCard img {
	height: 120px;
}

.answer img {
	height: 66px;
}

.validated {
	margin: auto;
}
.validated img {
	height: 2em;
	padding-right: 1em;
}

img.yes {
	content: url('img/checkmark.svg');
}
img.no {
	margin-right: 1em;
	content: url('img/no.png');
}

label {
	font-weight: 400 !important;
	vertical-align: top !important;
}

label[for="marvel"] {
	color: #ED1A29;
}

label[for="DC"] {
	color: #0E68A8;
}

.header {
	font-size: 4rem;
}

#questionCard {
	border: 0.4rem solid black;
	background-color: #C0C0C0;
	max-width: 60%;
	margin: 0.4em auto;
	font-size: 2em;
	display: inline-block;
	padding-right: 0.2em;
}

#selectAnswer {
	font-size: 2em;
	margin: 0 auto;
	max-width: 60%;
}

input[type="radio"] {
	cursor: pointer;
}

input[type="radio"], label {
	display: inline;
	vertical-align: middle;
	margin: 0px 0px 6px 0px !important;
	padding-right: 2em !important;
}

form {
	padding-bottom: 1em;
}

#status {
	max-width: 60%;
	display: inline-block;
}

#statusLine {
	display: inline-flex;
}

#statusBar {
	padding-right: 0.3em;
	
}

.questionFiller {
	border: 0.2em solid black;
	min-width: 2em;
	height: 1em;
	display: inline-flex;
	pointer-events: none;
}

.questionFillerFilled {
	background-color: black;
	outline: none;
}

.questionCounter {
	font-weight: 500;
}

#results {
	padding-top: 2em;
	margin-bottom: 2em;
}

.group {
	display: inline-block;
	min-width: 40%;
	min-height: 8em;
	max-width: 8em;
	margin-left: 6%;
}

#Marvel {
	background-color: #FBD1D4;
	float: left;
	border: 2px solid #ED1A29;
	
}

#DC {
	background-color: #CFE1EE;
	margin-right: 8%;
	border: 2px solid #0E68A8;
	
}

.answer {
	border: 2px solid black;
	height: 70px;
	display: flex;
	margin: 1em;
	background-color: #C0C0C0;
}

.answer p {
	font-size: 1.5em;
	padding: 0.5em;
}

.answerName {
	margin: auto;
}

.validatedIcon {
	margin: auto;
}

#credits {
	background-color: #C0C0C0;
	vertical-align: middle;
	border-top: 2px solid black;
	display: flex;
	justify-content: center;
}

#counter {
	max-width: 5em;
	border: 2px solid black;
	background-color: #C0C0C0;
	margin: 0 auto;
} 

/*input[id="restartbutton"] {
	min-height: 3em;
	min-width: 5em;
}*/
                                                                              